* {
  box-sizing: border-box;
  outline: none;
}

.cards {
  width: 25em;
  height: 13em;
  position: relative;
  margin: 0;
  
  .card {
    position: absolute;
    width: 18.5em;
    height: 11.5em;
    border-radius: 0.8em;
    
    &.front {
      border: 1px solid #bbb;
      top: 0;
      left: 0;
      background: #fff;
      z-index: 100;

      .bank-logo {
        position: absolute;
        top: -0.3em;
        left: 0;
        padding: 1.3em;
        width: 100%;
        height: 5em;
        object-fit: contain;
        object-position: 0 0;
        display: none;
      }

      .brand-logo {
        position: absolute;
        bottom: 1.3em;
        right: 1.3em;
        text-align: right;
        height: 1.8em;
        display: none;
      }

      .fields {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1.3em;

        .number {
          width: 100%;
          margin-bottom: 0.3em;
        }

        .expired {
          display: inline-block;
          width: 3em;
          margin-right: 0.5em;
          margin-top: 0.3em;
        }
      }
    }

    &.back {
      bottom: 0;
      right: 0;
      background: #bbb;
      padding-top: 5.8em;
      padding-right: 1.3em;
      padding-left: 13.2em;

      .code {
        width: 100%;
      }
      
      &:before {
        content: '';
        position: absolute;
        top: 1.3em;
        background: #444;
        width: 100%;
        height: 3em;
        left: 0;
      }
    }
  }
}

.field {
  padding: 0.3em 0.5em;
  font-family: Courier, monospace;
  font-size: 1em;
  text-indent: 0.1em;
  border: 1px solid #666;
}

.label {
  font-size: 0.8em;
  display: block;
  margin-top: 0.5em;
}
